<div class="row" id="team">
	<div class="col-md-12">

		<div class="row">

			<ul class="team-list">

				<%= render "about-us/person",
					name: "Patricio Bruna",
					title: "CEO y Fundador",
					picture: "team-1.jpg",
					description: "Ing. Informático retirado para aprender computación de verdad.
 Dr. House en Linux, aprendiz de Rails. Socio en @ITLinux y #{link_to '@ZBoxApp', 'http://www.zbox.cl'}.",
					twitter: "http://twitter.com/pbruna",
					facebook: nil,
					linkedin: "http://cl.linkedin.com/in/pbruna/"
				 %>
 				<%= render "about-us/person",
 					name: "Daniel Eugenin",
 					title: "COO y Fundador",
 					picture: "daniel-eugenin-gray.png",
 					description: "Ing. Civil Informático, Magíster en TI, MBA, Linuxero de 10 años, Músico de oído y Tenista en constante retiro. Socio en @ITLinux y #{link_to '@ZBoxApp', 'http://www.zbox.cl'}.",
 					twitter: "http://twitter.com/deugenin",
					facebook: "https://www.facebook.com/daniel.eugenin",
					linkedin: "http://cl.linkedin.com/in/danieleugenin"
 				 %>
				 <%= render "about-us/person",
					 name: "Andrés Gallarado",
					 title: "Gerente Comercial",
					 picture: "andres-gallardo-gray.jpg",
					 description: "Ingeniero Comercial con experiencia en Gestión Comercial, Dirección y Desarrollo de Negocios. CEO de #{link_to '@ZBoxApp', 'http://www.zbox.cl'}.",
					 twitter: nil,
				 	facebook: nil,
				 	linkedin: "https://www.linkedin.com/pub/andrés-gallardo-fernández/36/8a7/b0a/en"
					%>
				<%= render "about-us/person",
					name: "Miguel Angel Coa",
					title: "Ingeniero de Proyectos",
					picture: "miguel-coa-gray.jpg",
					description: "Flaco, poco serio, amante del vino tinto, asiduo lector y ciclista amateur.<br/><br/><br/>",
					twitter: "http://twitter.com/miguelcoam",
				facebook: nil,
				linkedin: "http://cl.linkedin.com/pub/miguel-angel-coa-morales/45/b/161"
				 %>
   				<%= render "about-us/person",
   					name: "Nadia Valencia",
   					title: "Secretaria",
   					picture: "nadia-valencia-gray.png",
   					description: "Tec. en Gestión de Servicios Financieros. Encargada de que las cosas funcionen como reloj en @ITLinux.",
   					twitter: "http://twitter.com/NadyValencia",
  					facebook: nil,
  					linkedin: "http://cl.linkedin.com/pub/nadia-valencia/83/a57/238"
   				 %>
   				<%= render "about-us/person",
   					name: "Elizabeth Arriagada",
   					title: "Finanzas y Asistente Gerencia",
   					picture: "elizabeth-arriagada-gray.png",
   					description: "Elizabeth se encarga de que mes a mes vamos cumpliendo con el presupuesto y nuestro flujo de caja. También es nuestro apoyo en nuevos proyectos.",
   					twitter: nil,
  					facebook: nil,
  					linkedin: "http://cl.linkedin.com/pub/elizabeth-arriagada-pino/60/413/6b0"
   				 %>
			</ul>

		</div>
	</div>
